body{
    text-align: center;
    color: black;

}

.square {
    text-align: center;
    width: 50px;
    background-color: cyan;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: blue;

}

.player, .winner{
    font-size: 30px;;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    cursor: pointer;
    background: cyan;
    
}